fastapi
uvicorn
python-dotenv
yt-dlp
pydub
requests
librosa
numpy
python-multipart

# auth
passlib[bcrypt]
bcrypt
python-jose

# database
sqlalchemy
psycopg2-binary

# payments
paypal-checkout-serversdk